@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  color: hsl(215, 51%, 70%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*==========Typography=========*/

.text h1{
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 600;
}
.text p{
  font-size: 1.1rem;
}
.eth p{
  color: hsl(178, 100%, 50%);
  font-size: 0.92rem;
  font-weight: 600;
}
.days p{
  font-size: 0.95rem;
}
footer p{
  font-size: 0.97rem;
  font-weight: 400;
}
footer span{
  color: hsl(0, 0%, 100%);
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
a:hover{
  color: hsl(178, 100%, 50%);
}
/*=========Layout==========*/

main{
  background: hsl(217, 54%, 11%);
  width: 1440px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container{
  background: hsl(216, 50%, 16%);
  width: 290px;
  height: 533px;
  border-radius: 15px;
  padding: 23px;

}
header img{
  border-radius: 15px;
  width: 100%;
}
.view-icon{
  background: hsla(178, 100%, 50%, 0.4);
  padding: 122px;
  border-radius: 15px;
  position: absolute;
  top: 38.6%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}
.view-icon:hover {
  opacity: 1;
}

.data{
  display: flex;
  justify-content: space-between;
}
.icon{
  padding-right: 7px;
}
.eth{
  display: flex;
  align-items: center;
}
.days{
  display: flex;
  align-items: center;
}

hr{
  opacity: .4;
  border-bottom: hsl(215, 32%, 27%);
}

footer{
  display: flex;
  align-items: center;
}
footer img{
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);

}
footer p{
  padding: 0 15px;
}
